﻿<h3>@ViewData["Message"]</h3>

<address>
    3 Somerville Road<br />
    Wells<br />
    Somerset<br />
    BA5 2NW<br />
    <abbr title="Phone">P:</abbr>
    07580 689 530
</address>

<address>
    <strong>Email:</strong> <a href="mailto:davidmason100@hotmail.com">davidmason100@hotmail.com</a><br />
</address>
